* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f7fa;
}

.container {
    box-shadow: #333 0 0;
    width: 90%;
    max-width: 1200px;
    margin: 100px auto 100px auto;
    padding: 20px;
    background-color: #333;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    background-color: #4f9eff;
    border-radius: 15px;
    padding: 0 10px 0 10px;
    width: auto;
    height: 150px;
}


h1 {
    font-size: 50px;
    color: #333;
}

.btns {
    display: flex;
    justify-content: end;
    align-items: center;
    color: whitesmoke;
    gap: 10px;
    cursor: pointer;
}

a {
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border: #333;
    background-color: #333;
    width: 250px;
    height: 60px;
    /* margin: 43px 0 0 0; */
    border-radius: 10px;
    text-decoration: none;
}

a:visited {
    color: white;

}

a:hover {
    color: greenyellow;
}

a:active {
    color: red;
}

.button1 svg {
    width: 35px;
}


.button2 svg {
    width: 40px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    border-radius: 15px;
    font-size: 20px;
    align-items: center;
    text-align: center;
}


table th,
table td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
}

.a {
    background-color: #4f9eff;
    color: white;
    font-size: 20px;
    border-radius: 15px 0 0 0;
}

.b {
    background-color: #4f9eff;
    color: white;
    font-size: 20px;
    border-radius: 0 15px 0 0;
}

thead {
    background-color: #4f9eff;
    color: white;
    font-size: 20px;
    border-radius: 15px 15px 0 0;
}

tbody {
    background-color: whitesmoke;
    border-radius: 15px;
    margin: 50px 0 0 0;
    cursor: pointer;

}

img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    /* margin-right: 10px; */
    margin-bottom: 3%;
}

.img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.active1 {
    list-style: disc;
    color: green;
}

.suspend {
    color: red;
}

.inactive {
    color: orange;
}

.pic1 {
    display: flex;
    justify-content:center;
    gap: 10px;
}

.pic1 svg {
    width: 30px;

}


.svg1 {
    color: #4f9eff;
}

.svg2 {
    color: red;
}

li{
    list-style: disc;
}

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: whitesmoke;
    font-size: 20px;
    background-color: #4f9eff;
    padding: 30px;
    border-radius: 15px;
    

}
strong{
    color: #333;
}
.right{
    display: flex;
}

.prv{
    background-color: #333;
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
    margin: 0 5px 0 0;
}

.nxt{
    background-color: #333;
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
    margin: 0 0 0 5px;
}


.n1{
    background-color: whitesmoke;
    color: #333;
    padding: 9px 7px 0 7px;
    margin:0 3px 0 3px;
    cursor: pointer;
}

.n2{
    background-color: whitesmoke;
    color: #333;
    padding: 9px 7px 0 7px;
    margin:0 3px 0 3px;
    cursor: pointer;
}

.n3{
    background-color: whitesmoke;
    color: #333;
    padding: 9px 7px 0 7px;
    margin:0 3px 0 3px;
    cursor: pointer;
}
.n4{
    background-color: whitesmoke;
    color: #333;
    padding: 9px 7px 0 7px;
    margin:0 3px 0 3px;
    cursor: pointer;
}

.n5{
    background-color: whitesmoke;
    color: #333;
    padding: 9px 7px 0 7px;
    margin:0 3px 0 3px;
    cursor: pointer;
}

.alast{
    width: 100px;
    height: 30px;
}

.secondlast{
    width: 100px;
    height: 30px;
}